*{
    font-family: Verdana;
    font-size: 18px;
}

#menu{
  background-color: coral;
  width: 100%;
  text-align: right;
  height: 35px;
}

a{
    text-decoration: none;
}

#page{
    width: 100%;
    height: 400px;
}

#title{
    text-align: center;
    margin-top: 20px;
}

#paragraph{
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}

#header{
    text-align: center;
}
#left{
    width: 33%;
    text-align: center;
    float: left;
}

#center{
    width: 33%;
    text-align: center;
    float: left;
}

#right{
    width: 33%;
    text-align: center;
    float:left;
}

#link:hover{
    color:red;
}

input[type="textarea"]{
    background-color: blue;
    color:white
}

input[type="submit"],input[type="reset"]{
    background-color: green;
}
@media screen and (max-width: 800px){
    #left,#center,#right{
        clear: both;
        width: 100%;
    }
}